<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Categories</title>
</head>
<body>
<a href="/">Back</a>
<h1>Categories</h1>
<a href="/categories/add">Create Category</a>
<table border="1px" style="border-collapse: collapse">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Action</th>
    </tr>
    <tr th:each="category : ${categories}">
        <td th:text="${category.id}"></td>
        <td th:text="${category.name}"></td>
        <td><a th:href="@{/categories/remove(id=${category.id})}">Remove</a></td>
    </tr>
</table>
</body>
</html>